<header>
  <h1>snapface</h1>
  <nav>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="facesnaps" routerLinkActive="active">FaceSnaps</a>
<!--    <a routerLink="quizz/1" routerLinkActive="active">quizz/1</a>-->
  </nav>
</header>

<button (click)="onAddNewFaceSnap()" type="button" class="btn btn">+</button>
<button *ngIf="isConnected()" (click)="onLogoutBtn()" type="button" class="btn btn">Se deconnecter </button>
<button   *ngIf="!isConnected()"  (click)="onLoginBtn()" type="button" class="btn btn">Se connecter</button>

